
header {
	text-align: center;
	font-size: 20px; 
}
.disclimer {
	border: 5px solid white;
	border-radius: 15px;
	padding: 0px 20px;
	margin: 0px 50px;
	background-color: red;
	font-size: 25px;
	font-family: "DejaVu Sans Mono", monospace;
	font-weight: 600;
	font-variant: small-caps;
}
nav {
	overflow: hidden;
	padding-left: 20px; padding-right: 20px;
	text-align: center;
	font-size: 25px;
	display: flex;
	justify-content: space-between;
	align-items: center;
}
nav dl{
	width: 25%;
}
nav dl dd{
margin: 0;
}
a:hover {
	color: red;
}
body {
	background-color: black;
	color: white;
}
label, form {
	color: white;
	text-align: center;
}
dt {
		font-size:25px;
		text-align:center;
}
a {
	color:#FFFFFF;
	}
section {
	text-align: center;
	color:#FFFFFF;
}
h1 {
	font-size:60px; margin-bottom:0;
}
.appeal {
	font-size:25px;
	padding-left:200px; 
	padding-right:200px; 
	padding-top:0px;
}
footer {
	text-align:center; 
	font-size:25px; 
	color:#B22222
}
@media screen and (max-width:800px) {
	header, .disclimer, nav, nav dl, nav dl dd, a:hover, body, 
	label, form, dt, a, section, h1, .appeal, footer {
		width: 100%;
	}
}