
header {
	text-align: center;
	font-size: 20px; 
}
.disclimer {
	border: 2px solid white;
	border-radius: 15px;
	padding: 0px 20px;
	margin: 0px 50px;
	background-image: linear-gradient(black, red);
	font-size: 25px;
	font-family: "DejaVu Sans Mono", monospace;
	font-weight: 600;
	font-variant: small-caps;
}
nav {
	overflow: hidden;
	padding-left: 20px; padding-right: 20px;
	text-align: center;
	font-size: 25px;
	display: flex;
	justify-content: space-between;
	align-items: center;
}
nav dl{
	width: 25%;
}
nav dl dd{
margin: 0;
}
a:link, a:visited {
	border: 2px solid white;
	border-radius: 5px;
	background-image: linear-gradient(black, maroon);
	text-decoration: none;
	display: inline-block;
	padding-left: 5px;
	padding-right: 5px;
}
a:hover {
	border: 2px solid maroon;
	background-image: linear-gradient(maroon, black);
	transition: background-color 2s;
}
body {
	background-color: black;
	background-image: url("../Images/fon_2.jpg");
	background-attachment: fixed;
	background-size: cover;
	background-position: center;
	height: 100vh;
	color: #FFFFFF;
	text-align: center;
}
label, form {
	color: white;
	text-align: center;
}
dt {
		font-size:25px;
		text-align:center;
}
a {
	color:#FFFFFF;
	font-family: Courier New, monospace;
	}
section {
	text-align: center;
	color:#FFFFFF;
}
h1 {
	font-size:60px;
	position: relative;
}
.appeal {
	font-family: Courier New, monospace;
	font-size:25px;
	padding-left:200px; 
	padding-right:200px; 
	padding-top:0px;
}
footer {
	text-align:center; 
	font-size:25px; 
	color:maroon;
}
@media screen and (max-width:800px) {
	header, .disclimer, nav, nav dl, nav dl dd, a:hover, body, 
	label, form, dt, a, section, h1, .appeal, footer {
		width: 100%;
	}
}
img {
	border-radius: 10px;
}
.titul {
	width: 500px;
	hight: 200px;
}
table, td, th {
	border:2px solid;
	border-collapse: collapse;
}
thead th:nth-child(1) {
	width: 25%;
}
thead th:nth-child(2) {
	width: 30%;
}
thead th:nth-child(3) {
	width: 100%;
}
span {
	vertical-align: 30px;
}
#test {
	font-size: 25px;
	text-align: center;
}
#test1 {
	font-size: 25px;
	text-align: center;
}
#test2 {
	font-size: 25px;
	text-align: center;
}
form {
	margin: auto;
	width: 500px;
	border: 3px solid white;
}